<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VueJS Tutorial</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <!-- 1st commit -->
    <!-- <h1>Events</h1>
    <label>Name:</label>
    <input type="text" v-model="name" />
    
    <label>Age:</label>
    <input type="text" v-model="age" /> -->
    <!-- End 1st commit -->

    <!-- 2nd commit -->
    <!-- <h1>Computed Properties</h1>
    <button v-on:click="a++">Add to A</button>
    <button v-on:click="b++">Add to B</button>
    <p>A - {{a}}</p>
    <p>B - {{b}}</p>
    <p>Age + A = {{addToA}}</p>
    <p>Age + B = {{addToB}}</p>
    <br>
    <br>
    <div id="canvas" v-on:mousemove="updateXY">
      Longitude {{x}}, Latitude {{y}} 
    </div> -->
    <!-- End 2nd commit -->
    <!-- <a :href="website">Google</a>
    <p v-html="websiteTag"></p> -->
    <!-- <br> -->
    <!-- <a v-on:click.prevent="click" href="http://npr.org">NPR</a> -->

    <!-- 3rd Commit -->
    <!-- <h1>Conditionals</h1>
    <button v-on:click="error = !error">Toggle Error</button>
    <button v-on:click="success = !success">Toggle Success</button>
    <p v-if="error">¯\_(ツ)_/¯</p>
    <p v-else-if="success">Success!!!</p> -->
    <!-- End 3rd Commit -->

    <!-- 4th Commit
    <h1>Looping through arrays</h1>
    <ul>
      <li v-for="character in characters">
        {{character}}
      </li>
      <li v-for="(ninja, index) in ninjas">
        Index: {{index}}. {{ninja.name}}, Age: {{ninja.age}}
      </li>
    </ul>
    End 4th Commit -->

  </div>
  <script src="app.js"></script>
</body>
</html>